<% if ( pages.length > 1 ) { %>
<nav aria-label="Page navigation example" style="display:table; margin-left: auto; margin-right: auto;">
    <ul class="pagination paginacion">
        <% console.log ("PAGES: ",pages); %>

            <li class="page-item">
                <a class="page-link " href="<%- pageURL %>?p=<%- parseInt(currentpage) -1 %>">&laquo;</a>
            </li>
            <% for (p of pages) { %>
                <% let current='' ; %>
                <% if ( currentpage==p ) { current='active' ; } %>
                <li class="page-item">
                    <a class="page-link <%- current %>" href="<%- pageURL %>?p=<%- p %>"><%- p %></a>
                </li>

            <% } %>
            <li class="page-item">
                <a class="page-link " href="<%- pageURL %>?p=<%- parseInt(currentpage) + 1 %>">&raquo;</a>
            </li>

    </ul>
</nav>

<% } %>