<nav class="navbar navbar-expand-lg navbar-dark bg-dark cabecera">
    <a class="navbar-brand" href="/admin/stats/">Project Manager</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="navbar-item">
                <a class="nav-link" href="/admin/proyecto/aceptado/"><span class="letraNavbar">Proyectos</span></a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="/admin/empresa/"><span class="letraNavbar">Empresas</span></a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="/admin/compra/"><span class="letraNavbar">Compras</span></a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="/admin/venta/facturado/"><span class="letraNavbar">Ventas</span></a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="/admin/ventaRecurrente/"><span class="letraNavbar">Ventas Recurrentes</span></a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="/admin/compra/pendientes/"><span class="letraNavbar">Compras Pendientes</span></a>
            </li>
        </ul>

        <div>
            <div> <span class="navbar-text"><b><%- sessionRoot.email %></b></span> </div>
            <div> <a class="nav-link salir text-light" href="/admin/logout" style="text-align: right;">Cerrar Sesión</a> </div>
            
        </div>

    </div>
</nav>