<!DOCTYPE html>
<html lang="en" class="">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%- locals.title || 'Project Manager' %>
  </title>

  <link rel="shortcut icon" type="image/x-icon" href="/images/code.png" />
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href='/stylesheets/theme_1614297307052.css' />

  <script src="/jquery/dist/jquery.min.js"></script>
  
  <!-- <link rel="stylesheet" href="/stylesheets/select2-bootstrap4-theme/dist/select2-bootstrap4.css"> -->
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>

  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>


<body class="">

  <%- include('_navbar.ejs'); %>

    <% if ( messages.info ) { %>
      <div class="container">
        <div class="alert alert-warning">
          <%- messages.info %>
        </div>
      </div>
      <% } %>

        <% if ( messages.error ) { %>
          <div class="container">
            <div class="alert alert-danger">
              <%- messages.error %>
            </div>
          </div>
          <% } %>

            <br />

            <%- include( locals.content || '__blank' ); %>



              <script>

                
                /*
                  $("#menu-toggle").click(function (e) {
                    e.preventDefault();
                    $("#wrapper").toggleClass("toggled");
                  });*/
              </script>

</body>

</html>