<div class="container-fluid">

  <h2 style="margin: 2rem;">
    Utilidad: <%- ventaTotal.toLocaleString() %> - <%- compraTotal.toLocaleString() %> = <%- netoTotal.toLocaleString() %> soles
  </h2>
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered table-hover">
        <thead>
          <tr class="bg-dark text-light">
            <th>Tipo de Proceso</th>
            <th>Factura</th>
            <th>Neto</th>
            <th>IGV</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          <% let sumaIgvVenta=0; let sumaNetoVenta=0; %>
            <tr class="bg-success text-light">
              <td rowspan="<%- ventas.length + 1 %>"
                style="vertical-align: middle; text-align: center; width: 10rem; border-right: white; border-right-style: outset; color: black; font-weight: 700; font-size: 20px;">
                Ventas </td>
            </tr>
            <% for ( venta of ventas ){ %>

              <tr class="table-success">
                <!-- class="bg-dark text-light" -->
                <td>
                  <%- venta.numeroFactura %>
                </td>
                <td>
                  <%- venta.neto %>
                </td>
                <% sumaNetoVenta +=parseFloat(venta.neto); console.log("SUMANETOVENTA: ", sumaNetoVenta.toFixed(2)); %>
                <td> <%- venta.igv %> </td>
                  <% sumaIgvVenta += parseFloat(venta.igv); console.log(" SUMAIGVVENTA: ", sumaIgvVenta.toFixed(2)); %>
                <td> <%- venta.fechaDeclaracion %> </td>
              </tr>
            <% } %>
                        
            <% let sumaIgvCompra = 0; 
               let sumaNetoCompra = 0;
            %>
            <tr class=" bg-warning text-light">
                  <td rowspan="<%- compras.length + 1 %>"
                    style="vertical-align: middle; text-align: center; width: 10rem; border-right: white; border-right-style: outset; color: black; font-weight: 700; font-size: 20px;">
                    Compras </td>
              </tr>
              <% for ( compra of compras ){ %>
                <tr class="table-warning">
                  <td>
                    <%- compra.numeroFactura %>
                  </td>
                  <td>
                    <%- compra.neto %>
                  </td>
                  <% sumaNetoCompra +=parseFloat(compra.neto); console.log(" SUMANETOCOMPRA: ", sumaNetoCompra.toFixed(2)); %>
                <td> <%- compra.igv %> </td>
                  <% sumaIgvCompra += parseFloat(compra.igv); console.log(" SUMAIGVCOMPRA: ", sumaIgvCompra.toFixed(2)); %>
                <td> <%- compra.fechaDeclaracion %> </td>
              </tr>
            <% } %>
        
          </tbody>
          
          <tfoot>
            <%
              let totalIgv = 0;
              let totalNeto = 0;

              totalIgv = sumaIgvVenta - sumaIgvCompra;
              totalNeto = sumaNetoVenta - sumaNetoCompra;
            %>
            <tr>
              
              <td colspan="2" class=" bg-info text-center"
                    style="text-align: center; width: 10rem; border-right: white; border-right-style: outset; color: black; font-weight: 700; font-size: 20px;">
                    <b>Total</b></td>
              <td class="text-left table-info">
                <b>
                  <%- totalNeto.toLocaleString(); %>
                </b>
              </td>
              <td class="text-left table-info">
                <b>
                  <%- totalIgv.toLocaleString(); %>
                </b>
              </td>
            </tr>
          </tfoot>

      </table>

    </div>

  </div>

</div>


<!-- 
TOTAL IGV: <%- //totalIgv.toFixed(2); %>
  TOTAL NETO: <%- //totalNeto.toFixed(2); %> -->