<div class="container-md containerTablas">
  <h3>¿Seguro que quiere borrar la empresa <%- obj.razonSocialEmpresa %>? </h3>
  <br>
  <form action="/admin/empresa/delete/<%- obj.idEmpresa %>" method="POST">
      <input type="hidden" value="<%- obj.idEmpresa %>" />
      
      <input type="submit" class="btn btn-primary" value="Borrar" />
      <a href="/admin/empresa/" class="btn btn-danger">Cancelar</a>
  </form>
</div>