<script>
	
	$(document).ready(function () {
		let tabActive = '<%- tabSeleccionado %>';
		console.log("TAB ACTIVA: ", tabActive);

		$(`a.tabState#${tabActive}`).addClass('active');
	});

</script>

<a href="javascript:history.back(-1);"
  style="color: purple; text-decoration: none; margin-right: auto; margin-left: 1rem;"><b class="spanVolver">
    Volver</b></a>

<div class="container mt-5">
  <p>
  <h3>Datos de la empresa:</h3>
  </p>

  <p><b>Razón Social: </b>
    <%- empresa.razonSocialEmpresa %>
  </p>
  <p><b>Número de RUC: </b>
    <%- empresa.rucEmpresa %>
  </p>
  <p><b>E-mail: </b>
    <%- empresa.emailEmpresa %>
  </p>
  <% (empresa.importancia==1) ? importancia="Sí" : importancia="No" %>
    <p><b>Importancia: </b>
      <%- importancia %>
    </p>
</div>


<div class="container mt-5">

  <ul class="nav nav-tabs" role="tablist">
    <li class="">
      <a class="nav-link tabState" id="proyectos" href="/admin/empresa/<%- empresa.rucEmpresa %>/detalle/proyectos">Proyectos</a>
    </li>
    <li class="">
      <a class="nav-link tabState" id="compras" href="/admin/empresa/<%- empresa.rucEmpresa %>/detalle/compras">Compras</a>
    </li>
    <li class="">
      <a class="nav-link tabState" id="ventas" href="/admin/empresa/<%- empresa.rucEmpresa %>/detalle/ventas">Ventas</a>
    </li>
  </ul>

</div>

<div>

    <!-- PROYECTOS DEL PROYECTO -->
    <% if (tabSeleccionado == 'proyectos') { %>
      <% if (proyectos.length > 0) { %>
        <div class="container mt-3 mb-5">
          <p>
          <h4>Proyectos de <%- empresa.razonSocialEmpresa %>
          </h4>
          </p>

          <table class="table table-hover table-bordered text-center" style="margin-bottom: 0;" id="requerimientos">
            <thead class="bg-dark text-light">
              <tr class="categoriasTabla">
                <th scope="col" style="width: 25%;">Nombre del Proyecto</th>
                <th scope="col" style="width: 15%;">Estado Proyecto</th>

              </tr>
            </thead>

            <tbody class="cuerpoTabla">

              <% for (proyecto of proyectos) { %>
                <tr>
                  <td style="width: 25%;">
                    <%- proyecto.nombreProyecto %>
                  </td>
                  <td style="width: 10%;">
                    <%- proyecto.estadoProyecto %>
                  </td>
                </tr>
                <% } %>

            </tbody>

          </table>

        </div>
      <% } %>
    <% } %>
  

    <!-- COMPRAS DEL PROYECTO -->
    <% if (tabSeleccionado == 'compras') { %>
      <% if (compras.length > 0) { %>
        <div class="container mt-3 mb-5">
          <p>
          <h4>Compras de <%- empresa.razonSocialEmpresa %>
          </h4>
          </p>

          <table class="table table-hover table-bordered text-center" style="margin-bottom: 0;" id="requerimientos">
            <thead class="bg-dark text-light">
              <tr class="categoriasTabla">
                <th scope="col">Título</th>
                <th scope="col">Monto Total</th>
                <th scope="col">Fecha Compra</th>
                <th scope="col">Fecha Declaración</th>
              </tr>
            </thead>

            <tbody class="cuerpoTabla">

              <% for (compra of compras) { %>
                <tr>
                  <td>
                    <%- compra.tituloCompra %>
                  </td>
                  <td>
                    <%- compra.totalCompra %>
                  </td>
                  <td>
                    <%- compra.fechaCompra %>
                  </td>
                  <td>
                    <% if (compra.fechaDeclaracion !=undefined) { %>
                      <%- compra.fechaDeclaracion.toString().substring(0,7); %>
                        <% } else { %>
                          No especificada
                          <% }%>

                  </td>
                </tr>
                <% } %>

            </tbody>

          </table>

        </div>
      <% } %>
    <% } %>


    <!-- VENTAS DEL PROYECTO -->
    <% if (tabSeleccionado == 'ventas') { %>
      <% if (ventas.length > 0) { %>
        <div class="container mt-3 mb-5">
          <p>
          <h4>Ventas de <%- empresa.razonSocialEmpresa %>
          </h4>
          </p>
          <table class="table table-hover table-bordered text-center" style="margin-bottom: 0;" id="requerimientos">
            <thead class="bg-dark text-light">
              <tr class="categoriasTabla">
                <th scope="col">Título</th>
                <th scope="col">Monto Total</th>
                <th scope="col">Fecha Venta</th>
                <th scope="col">Fecha Declaración</th>
              </tr>
            </thead>

            <tbody class="cuerpoTabla">

              <% for (venta of ventas) { %>
                <tr>
                  <td>
                    <%- venta.tituloVenta %>
                  </td>
                  <td>
                    <%- venta.totalVenta %>
                  </td>
                  <td>
                    <%- venta.fechaVenta %>
                  </td>
                  <td>
                    <%- venta.fechaDeclaracion.toString().substring(0,7); %>
                  </td>
                </tr>
                <% } %>

            </tbody>

          </table>

        </div>
      <% } %>
    <% } %>
</div>