<script>

  function limpiar(obj1, obj2, obj3) {
    $(obj1).val(null);
    $(obj2).val(null);
    $(obj3).val(null);
  }


  function calcularNumeroSerieCompra(inputNumeroSerieCompra) {
    let rucEmpresa = document.getElementById('idEmpresa');
    let ruc = rucEmpresa.value;
    let numeroFactura = $('#numeroFactura').val();
    let valor = ruc + numeroFactura;

    $(inputNumeroSerieCompra).val(valor);
  }

</script>

<div class="container-md containerForms">
  <form name="formulario" action="/admin/empresa/save" method="POST">
    <br>
    <br>
    <div class="form-group">
      <div class="row">
        <!-- PRIMERA COLUMNA FORM -->
        <div class="col-12 col-sm-12">
          <input type="hidden" value="<%- obj.idEmpresa %>" name="idEmpresa" id="idEmpresa" />
          <label><span class="nombreLabel">Razón Social</span></label>
          <input type="text" value="<%- obj.razonSocialEmpresa %>" required name="razonSocialEmpresa" id="razonSocialEmpresa"
            class="form-control" autofocus />
          <br>

          <label><span class="nombreLabel">RUC</span></label>
          <input type="text" value="<%- obj.rucEmpresa %>" required name="rucEmpresa" id="rucEmpresa" maxlength="11"
            class="form-control" />
          <br>

          <label><span class="nombreLabel">E-mail</span></label>
          <div class="form-group-file">
            <input type="text" value="<%- obj.emailEmpresa %>" name="emailEmpresa" id="emailEmpresa"
              class="form-control" />
          </div>
          <br>
          <label><span>¿Empresa Prioritaria?</span></label>
          <input type="checkbox" value="<%- obj.importancia %>" name="importancia" id="importancia"
            class="form-group importancia" <%- checked %> />
        </div>
      </div>

      <br>
      (*) Campo obligatorio
      <br><br>
      <button type="button" onclick="limpiar('#razonSocialEmpresa', '#rucEmpresa', '#emailEmpresa');"
        class="btn btn-secondary">Limpiar</button>
      <br>
      <br>
      <div>
        <a href="/admin/empresa/" class="btn btn-danger">Cancelar</a>
        <input type="submit" class="btn btn-primary" value="Guardar" />
      </div>
    </div>
  </form>


</div>

<br>

<script>

  $(document).ready(function () {

    $("#importancia").on('change', function () {
      if ($(this).is(':checked')) {
        // Establecer el valor de importancia en 1 si el checbox ha sido seleccionado
        $('#importancia').val(1);
      } else {
        // Establecer el valor de importancia en 0 si el checbox ha sido deseleccionado
        $('#importancia').val(0);
      }
    });

  });

</script>