<div class="container">
  <div class="row mb-2">

    <div class="col-12 col-sm-2">
      <a href="/admin/empresa/create" class="btn btn-success">Agregar</a>
    </div>

    <div class="col-12 col-sm-10">
      <form action="/admin/empresa/" method="get">

        <div class="input-group passRandom">
          <input type="search" name="search" class="form-control ds-input" id="search-input"
            placeholder="Filtrar por Razón Social o RUC..." value="<%- search %>">
          <div class="input-group-append">
            <button type="submit" class="btn btn-dark">Buscar</button>
          </div>
        </div>
        <br>
      </form>
    </div>

  </div>

  <table class="table table-hover table-bordered text-center" style="margin-bottom: 0;">
    <thead class="bg-dark text-light">
      <tr class="categoriasTabla">
        <th scope="col">Razón Social</th>
        <th scope="col">RUC</th>
        <th scope="col">E-mail</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody class="cuerpoTabla">
      <% for (empresa of empresas){ %>
        <tr>
          <td>
            <a href="/admin/empresa/<%- empresa.rucEmpresa %>/detalle/proyectos">
              <%- empresa.razonSocialEmpresa %>
            </a>
          </td>
          <td>
            <%- empresa.rucEmpresa %>
          </td>
          <td>
            <%- empresa.emailEmpresa %>
          </td>
          <td>
            <a href="/admin/empresa/edit/<%- empresa.idEmpresa %>" style="color: black; padding: inherit;"><i
                class="bi bi-pencil-fill"></i></a>
            |
            <a href="/admin/empresa/delete/<%- empresa.idEmpresa %>" style="color: black; padding: inherit;"><i
                class="bi bi-trash-fill"></i></a>
          </td>
        </tr>
        <% } %>

    </tbody>
  </table>

  <div class="col-12 text-center mt-5">

    <%- include("../__pager", { pageURL: '/admin/empresa/' }); %>

  </div>

</div>