body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.htmlFullHeight {
  height: 100%;
}

.cabecera{
  background: rgba(19, 5, 138, 0.671);
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 2rem;
}

.letraNavbar {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

a {
  color: #00B7FF;
}

.loginBodyFullHeight {
  background: #DA5300;
  height: 100%;
  margin: 0px;
}

.bodyFullHeight {
  /*background-image: url("/images/fondos/FONDO-AZUL_3.png");*/
  background: #F5D29D;
  height: 100%;
  margin: 0px;
}


.formLogin{
  width: 60%;
  display: block;
  margin: auto;
}

.centrarDivVerticalmente{
  display: table-cell;
  vertical-align: middle;
  align-items: center;
}

.logoLogin {
  width: 10em;
  display: block;
  margin: auto;
}

.labelDiv {
  width: 100%;
}

.labelGroup {
  display: flex;
  justify-content: space-between;
}

.labelLogin {
  font-size: 15px;
  color: #fff;
  line-height: 20px;
  font-weight: bold;
  /*margin: 0 4px 0 0;*/
  margin-top: 0px;
  margin-right: 4px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.inputLogin {
  border: 1px solid;
  border-color: var(--border-gray);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 24px;
  height: 40px;
  margin-bottom: 24px;
  padding: 4px 8px;
  max-width: 386px;
  width: 100%;
}

.botonIngresar {
  background-color: rgb(19, 44, 116);
  color: white;
  font-weight: bold;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.loginForm { 
  max-width: 600px;
  /*width: calc(100% - 64px);*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.cuerpoTabla{
  background: rgba(255, 255, 255, 60%);
  height: 100px;
}

.containerForms{
  width: 60%;
  margin-top: 2em;
}

a.boton:hover {
  color: gray !important;
}

.paginacion{
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.spanVolver {
  font-size: 18px;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: rgba(34, 22, 139, 0.658);
}

.navbar-light .navbar-nav .nav-link {
  color: #fff; /*rgba(0,0,0,.5);*/
}

.table th, .table td {
  vertical-align: middle;
  text-align: center; 
  width: 5rem;
  /* border-right: white;
  border-right-style: outset; */

  padding: .75rem;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}

/* table.tabla tbody td.tdClass {
  vertical-align: middle;
  text-align: center; 
  width: 5rem;
  border-right: white;
  border-right-style: outset;
}

table thead th {
  vertical-align: middle;
}

td.rowStats {
  vertical-align: middle;
  text-align: center; 
  width: 5rem;
  border-right: white;
  border-right-style: outset;
} */


/* SELECT2 */ 
/* 
.select2 {
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;

}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}

.input-group > .select2-container--bootstrap {
  width: auto;
  flex: 1 1 auto;
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
  height: calc(1.5em + .75rem + 2px);
}

.input-group > .select2-container--bootstrap .select2-selection--single {
  height: 100%;
  line-height: inherit;
  padding: 0.5rem 1rem;
} */