<div class="container-md">
  <div style="padding-top: 5%;">
    <h2>¿Seguro que desea eliminar el proyecto <%- obj.nombreProyecto %>? </h2>
    <br>
    <form action="/admin/proyecto/delete/<%- obj.idProyecto %>" method="POST">
      <input type="hidden" value="<%- obj.idCompra %>" />

      <a href="/admin/proyecto/aceptado" class="btn btn-danger">Cancelar</a>
      <input type="submit" class="btn btn-primary" value="Borrar" />
    </form>
  </div>
</div>