<script>

  function calcularCostoTotal(costoTotal) {
    let arrDias = document.getElementsByName("tiempoRequerimiento[]");
    let costoDia = document.getElementById("costoDia").value;
    let result = 0;
    for (let i = 0; i < arrDias.length; i++) {
      result += parseInt(arrDias[i].value);
      console.log("RESULTADO: ", result);    
    }

    result = result * costoDia;
    console.log("");
    console.log("COSTO DÍA: ", costoDia);
    console.log("RESULT: ", result);

    $(costoTotal).val(result);
  }

</script>

<style>
  
  .modelDiv {
    display:none;
  }

  .verificacion {
    /*width: 100%;*/

    margin-right: 30px;
    margin-left: 30px;
  }
</style>

<input type="hidden" value="<%- proyecto.costoDia %>" id="costoDia" name="costoDia" />

<a href="javascript:history.back(-1);"
  style="color: purple; text-decoration: none; margin-right: auto; margin-left: 1rem;"><b class="spanVolver">
    Volver</b></a>

<div class="container mt-5">
  <p>
  <h3>Requerimientos de <%- proyecto.nombreProyecto %>:</h3>
  </p>
  <p><b>Costo total: </b>
    
    <input type="text" value="<%- proyecto.costoTotal %>" name="costoTotal" id="costoTotal" style="width: 20%;" disabled />
  </p>
</div>

<div class="container-fluid">

  <input type="button" class="btn-sm btn-success" value="GUARDAR REQUERIMIENTOS" id="sendRequerimientos"
    style="margin-left:30px;" />
  <br>
  <!-- AGREGAR O EDITAR REQUERIMIENTOS -->

  <div class="alert alert-danger alert-dismissible verificacion modelDiv" id="notnumber" role="alert">
    No es un número.
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
  </div>
  <!--d-none-->

  <!-- REQUERIMIENTOS -->
  <form action="" method="" id="requerimientos">
    <div class="scrollTablas" style="margin: 30px; padding-left: 0%; padding-right: 0%;">
      <table class="table table-hover table-bordered text-center" style="margin-bottom: 0;" id="requerimientos">
        <thead class="bg-dark text-light">
          <tr class="categoriasTabla">
            <th scope="col" style="width: 25%;">Nombre de Requerimiento</th>
            <th scope="col" style="width: 15%;">Días</th>
            <th scope="col">Descripción</th>
            <th scope="col" style="width: 10%;">Acciones</th>
          </tr>
        </thead>
        <tbody class="cuerpoTabla">
          <% if (requerimientos.length==0) { %>
            <%- console.log("REQUERIMIENTOS: ", requerimientos); %>
              
              <!-- <span>NO TIENE REQUERIMIENTOS</span> -->
             

              <tr class=" requerimiento model">

              <input type="hidden" value="" name="idProyecto[]" class="form-control idProyecto">
              <td style="width: 25%;">
                <input type="text" name="nombreRequerimiento[]" class="form-control nombreRequerimiento">
              </td>
              <td style="width: 10%;">
                <input type="text" name="tiempoRequerimiento[]" class="form-control tiempoRequerimiento">
              </td>
              <td>
                <input type="text" name="descripcionRequerimiento[]"
                  class="requerimientoInput form-control descripcionRequerimiento">
              </td>
              <td style="width: 10%;">
                <a href="" class="boton requerimientoDelete" style="color: black;"><i class="bi bi-trash-fill"></i></a>
                <a href="#" class="boton requerimientoAgregar" style="color: rgb(14, 194, 14);"><i
                    class="bi bi-plus-circle-fill"></i></a>
              </td>
              </tr>
              <% } else { %>

                <!-- <span>SÍ TIENE REQUERIMIENTOS</span> -->
                <% for (requerimiento of requerimientos) { %>
                  <input type="hidden" value="<% requerimiento.idProyecto %>" name="idProyecto[]"
                    class="form-control idProyecto">

                  <tr class="requerimiento model">
                    <td style="width: 25%;">
                      <input type="text" value="<%- requerimiento.nombreRequerimiento %>" name="nombreRequerimiento[]"
                        class="form-control nombreRequerimiento">
                    </td>
                    <td style="width: 10%;">
                      <input type="text" value="<%- requerimiento.tiempoRequerimiento %>" name="tiempoRequerimiento[]"
                        class="form-control tiempoRequerimiento" onkeyup="calcularCostoTotal('#costoTotal')">
                    </td>
                    <td>
                      <input type="text" value="<%- requerimiento.descripcionRequerimiento %>"
                        name="descripcionRequerimiento[]"
                        class="requerimientoInput form-control descripcionRequerimiento">
                    </td>
                    <td style="width: 10%;">
                      <a href="" class="boton requerimientoDelete" style="color: black;"><i
                          class="bi bi-trash-fill"></i></a>
                      <a href="#" class="boton requerimientoAgregar" style="color: rgb(14, 194, 14);"><i
                          class="bi bi-plus-circle-fill"></i></a>
                    </td>
                  </tr>
                  <% } %>
        </tbody>
      </table>
    </div>
  </form>
  <!-- /REQUERIMIENTOS -->
</div>
<% } %>
  </div>

  <script>

    $(document).ready(function () {

      $("#sendRequerimientos").on('click', function () {

        let btn = this;

        let frm = $("form#requerimientos");

        $("div#notnumber").hide();

        console.log($(frm).serialize());

        let reqs = [];

        $(frm).find("table tbody tr.requerimiento").each(function () {
          let tr = this;

          console.log(tr);

          let idProyecto = $(tr).find(".idProyecto").val();
          let idRequerimiento = $(tr).find(".idRequerimiento").val();
          let nombreRequerimiento = $(tr).find(".nombreRequerimiento").val();
          let tiempoRequerimiento = $(tr).find(".tiempoRequerimiento").val();
          let descripcionRequerimiento = $(tr).find(".descripcionRequerimiento").val();

          if (isNaN(tiempoRequerimiento)) {
            $("div#notnumber").show();
            return;
          }

          reqs.push({
            idProyecto: idProyecto,
            nombreRequerimiento: nombreRequerimiento,
            tiempoRequerimiento: tiempoRequerimiento,
            descripcionRequerimiento: descripcionRequerimiento
          });
        });

        //{ reqs: reqs }    //CONVIERTE A OBJETO Y LO MANDA EN LA FUNCIÓN JQ POST

        //<%- //console.log("ID PROYECTO: ", obj.idProyecto); %>

        console.log("REQS FRONT: ", reqs);

        $.post("/admin/proyecto/<%- proyecto.idProyecto %>/requerimientos/save", { reqs: JSON.stringify(reqs) }, function () {
          console.log("Se envio la data");
        });

      });

      let ocultarAlert = function () {
        $("div#notnumber").hide();
      };

      let buttonClick = function (e) {
        var tr = $("table#requerimientos tbody").find("tr.requerimiento.model").eq(0);
        var tr2 = $(tr).clone().removeClass("model");

        $("table#requerimientos tbody").append(tr2);
        $(tr2).find("a.requerimientoAgregar").on("click", buttonClick);
        $(tr2).find("a.requerimientoDelete").on("click", deleteClick);

        $(tr).scroll();

        $(tr).find("input.nombreRequerimiento").focus();
      };

      /* KEY DOWN */
      document.addEventListener("keyup", function (event) {
        // Si se pulsa el botón Insert...
        if (`${event.keyCode}` == 45) {
          buttonClick();
        }
      });
      /* /KEY DOWN */

      let deleteClick = function (e) {
        e.preventDefault();
        let trash = $(this).parents("tr.requerimiento").eq(0);
        //let trash2 = $(trash).remove();
        let before = $(trash).prev();

        if ($(before).hasClass("model")) {

        } else {
          $(before).find("input.requerimientoInput").focus();
        }
        $(trash).remove();
      }

      $("tr.requerimiento.model a.requerimientoAgregar").on("click", buttonClick);
      $("tr.requerimiento.model a.requerimientoDelete").on("click", deleteClick);
      $("container-fluid alert alert-danger alert-dismissible verificacion model button.close").on("click", ocultarAlert);


    });

  </script>