<a href="javascript:history.back(-1);"
  style="color: purple; text-decoration: none; margin-right: auto; margin-left: 1rem;"><b class="spanVolver">
    Volver</b></a>

<!--/admin/proyecto/-->

<div class="container mt-5">
  <p>
  <h3>Datos del proyecto:</h3>
  </p>

  <p><b>Nombre del Proyecto: </b>
    <%- proyecto.nombreProyecto %>
  </p>
  <p><b>Empresa Cliente: </b>
    <%- empresa.razonSocialEmpresa %>
  </p>
  <p><b>Estado del Proyecto: </b>
    <%- proyecto.estadoProyecto %>
  </p>
  <p><b>Duración total: </b>
    <%- proyecto.totalDias %> días
  </p>
  <p><b>Costo total: </b>
    S/<%- proyecto.costoTotal %>
  </p>
</div>

<% if (requerimientos.length > 0) { %>
<div class="container mt-5 mb-5">
  <table class="table table-hover table-bordered text-center" style="margin-bottom: 0;" id="requerimientos">
    <thead class="bg-dark text-light">
      <tr class="categoriasTabla">
        <th scope="col" style="width: 25%;">Nombre de Requerimiento</th>
        <th scope="col" style="width: 15%;">Días</th>
        <th scope="col">Descripción</th>
      </tr>
    </thead>

    <tbody class="cuerpoTabla">

      <% for (requerimiento of requerimientos) { %>
        <tr>
          <td style="width: 25%;">
            <%- requerimiento.nombreRequerimiento %>
          </td>
          <td style="width: 10%;">
            <%- requerimiento.tiempoRequerimiento %>
          </td>
          <td>
            <%- requerimiento.descripcionRequerimiento %>
          </td>
        </tr>
      <% } %>

    </tbody>

  </table>

</div>

<% } %>