<script>

  function limpiar(obj1, obj2, obj3, obj4, obj5, obj6) {
    $(obj1).val(null);
    $(obj2).val("-Seleccionar Empresa-");
    $(obj3).val("-Seleccionar Estado-");
    $(obj4).val(null);
    $(obj5).val(null);
    $(obj6).val(null);
  }

  function calcularTotalDias(costoTotal) {
    let arrDias = document.getElementsByName("tiempoRequerimiento[]");
    let costoDia = parseInt(document.getElementById("costoDia").value);
    let result = 0;
    for (let i = 0; i < arrDias.length; i++) {
      if (arrDias[i].value == undefined) {
        arrDias[i].value = 0;
      }
      result += parseInt(arrDias[i].value);
      console.log("RESULTADO: ", result);
    }

    result = result * costoDia;

    $(costoTotal).val(result);
  }
</script>

<style>
  
  .modelDiv {
    display:none;
  }

  .verificacion {
    /*width: 100%;*/

    margin-right: 30px;
    margin-left: 30px;
  }
</style>

<div>
  <div class="container-md containerForms">

    <!--
    <h2>
      <%- //tituloForm %>
    </h2>
    <br>
    -->
    <div class="">
      <form action="/admin/proyecto/save" method="POST">
        <div class="" style="float: right;">
          <a href="/admin/proyecto/aceptado" class="btn btn-danger">Cancelar</a>
          <input type="submit" class="btn btn-primary" value="Guardar" />
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="form-group">
          <div class="row">
            <div class="col-12 col-sm-6">
              <input type="hidden" value="<%- obj.idProyecto %>" name="idProyecto" id="idProyecto" />

              <label><span class="nombreLabel">Nombre de Proyecto (*)</span></label>
              <input type="text" value="<%- obj.nombreProyecto %>" required name="nombreProyecto" id="nombreProyecto"
                class="form-control" autofocus />
              <br>

              <label><span class="nombreLabel">Empresa (*)</span></label>
              <div style="width: 100%;
          height: calc(1.5em + .75rem + 2px) !important;">

                <% //FIXME: Altura de select2 similar a select normal %>
                <select name="idEmpresa" id="idEmpresa" required class="select2 form-control" style="width: 100%;">
                  <option>-Seleccionar Empresa-</option>

                  <% for (empresa of empresas) { %>
                    <!--
                  <input type="hidden" value="<%- //empresa.idEmpresa %>" name="inputIdEmpresa" id="inputIdEmpresa" />
                -->
                    <% if (obj.idEmpresa==empresa.idEmpresa) { var empresaSeleccionada="selected" ; } else { var
                      empresaSeleccionada="" ; }%>
                      <option value="<%- empresa.idEmpresa%>" <%- empresaSeleccionada %>>
                        <%- empresa.rucEmpresa %> | <%- empresa.razonSocialEmpresa %>
                      </option>
                      <% } %>
                </select>
              </div>
              <br>

              <label><span class="nombreLabel">Estado del Proyecto (*)</span></label>
              <select name="estadoProyecto" id="estadoProyecto" class="form-control">
                
                <!-- <%/* if (obj.estadoProyecto=="Propuesto" ) { var propuestoSeleccionado="selected" ; } else if
                  (obj.estadoProyecto=="Aceptado" ) { var aceptadoSeleccionado="selected" ; } else if
                  (obj.estadoProyecto=="Finalizado" ) { var finalizadoSeleccionado="selected" ; } else if
                  (obj.estadoProyecto=="Anulado" ) { var anuladoSeleccionado="selected" ; } */%> -->
                  <!-- <option>-Seleccionar Estado-</option> -->
                  <option selected>Propuesto</option>
                  <option value="Aceptado" <%- ( obj.estadoProyecto == "Aceptado" )?"selected":"" %> >Aceptado</option>
                  <option value="Finalizado" <%- ( obj.estadoProyecto == "Finalizado" )?"selected":"" %> >Finalizado</option>
                  <option value="Anulado" <%- ( obj.estadoProyecto == "Anulado" )?"selected":"" %> >Anulado</option>
              </select>
              <br>
            </div>

            <div class="col-12 col-sm-6">
              <!--
              <label><span class="nombreLabel">Total de Días</span></label>
              
              <input type="hidden" value="<%- obj.totalDias %>" name="totalDias" id="totalDias" class="form-control"
                readonly="readonly" />
              <br>
              -->

              <label><span class="nombreLabel">Costo por Día (*)</span></label>
              <input type="text" value="<%- obj.costoDia %>" required name="costoDia" id="costoDia"
                class="form-control" />
              <br>

              <label><span class="nombreLabel">Costo Total (*)</span></label>
              <input type="text" value="<%- obj.costoTotal %>" name="costoTotal" id="costoTotal" class="form-control" />
              <br>
            </div>
          </div>

          <br>
          (*) Campo obligatorio
          <br><br>
          <button type="button"
            onclick="limpiar('#nombreProyecto', '#idEmpresa', '#estadoProyecto', '#totalHoras', '#costoHora', '#costoTotal');"
            class="btn btn-secondary">Limpiar</button>
          <br>
          <br>
        </div>
      </form>
    </div>
  </div>
  <br>




  <div class="container-fluid">

    <input type="button" class="btn-sm btn-success" value="GUARDAR REQUERIMIENTOS" id="sendRequerimientos"
      style="margin-left:30px;" />
    <br>
    <!-- EDITAR PROYECTO -->
    <% if (accion=="edit" ) { %>

      <div class="alert alert-danger alert-dismissible verificacion modelDiv " id="notnumber" role="alert">
        No es un número.
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
      </div>
      <!--d-none-->

      <!-- REQUERIMIENTOS -->
      <form action="" method="" id="requerimientos">
        <div class="scrollTablas" style="margin: 30px; padding-left: 0%; padding-right: 0%;">
          <table class="table table-hover table-bordered text-center" style="margin-bottom: 0;" id="requerimientos">
            <thead class="bg-dark text-light">
              <tr class="categoriasTabla">
                <th scope="col" style="width: 25%;">Nombre de Requerimiento</th>
                <th scope="col" style="width: 15%;">Días</th>
                <th scope="col">Descripción</th>
                <th scope="col" style="width: 10%;">Acciones</th>
              </tr>
            </thead>
            <tbody class="cuerpoTabla">
              <% if (requerimientos.length==0) { %>
                <%- console.log("REQUERIMIENTOS: ", requerimientos); %>
                <!--
                <span>NO TIENE REQUERIMIENTOS</span>
                -->
                  <tr class=" requerimiento model">
                  <input type="hidden" name="idProyecto[]" class="form-control idProyecto">
                  <td style="width: 25%;">
                    <input type="text" name="nombreRequerimiento[]" class="form-control nombreRequerimiento">
                  </td>
                  <td style="width: 10%;">
                    <input type="text" name="tiempoRequerimiento[]" class="form-control tiempoRequerimiento"
                      onkeyup="calcularTotalDias('#costoTotal')">
                  </td>
                  <td>
                    <input type="text" name="descripcionRequerimiento[]"
                      class="requerimientoInput form-control descripcionRequerimiento">
                  </td>
                  <td style="width: 10%;">
                    <a href="" class="boton requerimientoDelete" style="color: black;"><i
                        class="bi bi-trash-fill"></i></a>
                    <a href="#" class="boton requerimientoAgregar" style="color: rgb(14, 194, 14);"><i
                        class="bi bi-plus-circle-fill"></i></a>
                  </td>
                  </tr>
                  <% } else { %>

                    <!--
                    <input type="button" class="btn-sm btn-success" value="GUARDAR REQUERIMIENTOS"
                      id="sendRequerimientos" />
                    <br>
                    -->

                    <!-- <span>SÍ TIENE REQUERIMIENTOS</span> -->
                    <% for (requerimiento of requerimientos) { %>
                      <input type="hidden" value="<% requerimiento.idProyecto %>" name="idProyecto[]"
                        class="form-control idProyecto">

                      <tr class="requerimiento model">
                        <td style="width: 25%;">
                          <input type="text" value="<%- requerimiento.nombreRequerimiento %>"
                            name="nombreRequerimiento[]" class="form-control nombreRequerimiento">
                        </td>
                        <td style="width: 10%;">
                          <input type="text" value="<%- requerimiento.tiempoRequerimiento %>"
                            name="tiempoRequerimiento[]" class="form-control tiempoRequerimiento"
                            onkeyup="calcularTotalDias('#costoTotal')">
                        </td>
                        <td>
                          <input type="text" value="<%- requerimiento.descripcionRequerimiento %>"
                            name="descripcionRequerimiento[]"
                            class="requerimientoInput form-control descripcionRequerimiento">
                        </td>
                        <td style="width: 10%;">
                          <a href="" class="boton requerimientoDelete" style="color: black;"><i
                              class="bi bi-trash-fill"></i></a>
                          <a href="#" class="boton requerimientoAgregar" style="color: rgb(14, 194, 14);"><i
                              class="bi bi-plus-circle-fill"></i></a>
                        </td>
                      </tr>
                      <% } %>
                        <% }%>




            </tbody>
          </table>
        </div>
      </form>
      <!-- /REQUERIMIENTOS -->
  </div>


  <% } %>

</div>


<script>

  /* $(document).ready(function () {
    
  }); */

  $(document).ready(function () {

    $(".select2").select2();

    $("#sendRequerimientos").on('click', function () {

      let btn = this;

      let frm = $("form#requerimientos");

      $("div#notnumber").hide();

      console.log($(frm).serialize());

      let reqs = [];

      $(frm).find("table tbody tr.requerimiento").each(function () {
        let tr = this;

        console.log(tr);

        let idProyecto = $(tr).find(".idProyecto").val();
        let idRequerimiento = $(tr).find(".idRequerimiento").val();
        let nombreRequerimiento = $(tr).find(".nombreRequerimiento").val();
        let tiempoRequerimiento = $(tr).find(".tiempoRequerimiento").val();
        let descripcionRequerimiento = $(tr).find(".descripcionRequerimiento").val();

        if (isNaN(tiempoRequerimiento)) {
          $("div#notnumber").show();
          return;
        }
        /*
                objReq = {};
        
                objReq = {
                    "idProyecto": `${idProyecto}`,
                    "nombreRequerimiento": `${nombreRequerimiento}`,
                    "tiempoRequerimiento": `${tiempoRequerimiento}`,
                    "descripcionRequerimiento": `${descripcionRequerimiento}`
                  }
        */
        reqs.push({
          idProyecto: idProyecto,
          nombreRequerimiento: nombreRequerimiento,
          tiempoRequerimiento: tiempoRequerimiento,
          descripcionRequerimiento: descripcionRequerimiento
        });
      });

      //{ reqs: reqs }    //CONVIERTE A OBJETO Y LO MANDA EN LA FUNCIÓN JQ POST

      //<% - console.log("ID PROYECTO: ", obj.idProyecto); %>

      console.log("REQS FRONT: ", reqs);

      $.post("/admin/proyecto/<%- obj.idProyecto %>/requerimientos/save", { reqs: JSON.stringify(reqs) }, function () {
        console.log("Se envio la data");
      });

    });

    let ocultarAlert = function () {
      $("div#notnumber").hide();
    };

    let buttonClick = function (e) {
      var tr = $("table#requerimientos tbody").find("tr.requerimiento.model").eq(0);
      /* var tr2 = $(tr).clone().removeClass("model"); */


      var tr2 = $(`
                  <tr class="requerimiento model">
                  <input type="hidden" name="idProyecto[]" class="form-control idProyecto">
                  <td style="width: 25%;">
                    <input type="text" name="nombreRequerimiento[]" class="form-control nombreRequerimiento" autofocus>
                  </td>
                  <td style="width: 10%;">
                    <input type="text" name="tiempoRequerimiento[]" class="form-control tiempoRequerimiento"
                      onkeyup="calcularTotalDias('#costoTotal')">
                  </td>
                  <td>
                    <input type="text" name="descripcionRequerimiento[]"
                      class="requerimientoInput form-control descripcionRequerimiento">
                  </td>
                  <td style="width: 10%;">
                    <a href="" class="boton requerimientoDelete" style="color: black;"><i
                        class="bi bi-trash-fill"></i></a>
                    <a href="#" class="boton requerimientoAgregar" style="color: rgb(14, 194, 14);"><i
                        class="bi bi-plus-circle-fill"></i></a>
                  </td>
                  </tr>
                  `);


      //$(tr).removeClass("model");
      $("table#requerimientos tbody").append(tr2);
      $(tr2).find("a.requerimientoAgregar").on("click", buttonClick);
      $(tr2).find("a.requerimientoDelete").on("click", deleteClick);


      $(tr).scroll();

      $(tr).find("input.nombreRequerimiento").focus();
    };


    // KEY DOWN
    document.addEventListener("keyup", function (event) {
      // Si se pulsa el botón Insert...
      if (`${event.keyCode}` == 45) {
        buttonClick();
      }
    });
    // /KEY DOWN

    let deleteClick = function (e) {
      e.preventDefault();
      let trash = $(this).parents("tr.requerimiento").eq(0);
      //let trash2 = $(trash).remove();
      let before = $(trash).prev();

      if ($(before).hasClass("model")) {

      } else {
        $(before).find("input.requerimientoInput").focus();
      }
      $(trash).remove();
    }

    $("tr.requerimiento.model a.requerimientoAgregar").on("click", buttonClick);
    $("tr.requerimiento.model a.requerimientoDelete").on("click", deleteClick);
    $("container-fluid alert alert-danger alert-dismissible verificacion model button.close").on("click", ocultarAlert);


  });

</script>