<script>
	/* let tabActive = '<%-// req.state %>'; */
	$(document).ready(function () {
		let tabActive = '<%- state %>';
		console.log("TAB ACTIVA: ", tabActive);

		$(`a.tabState#${tabActive}`).addClass('active');
	});


	/* $("a.tabState#"+tabActive).addClass('active'); */
</script>

<div class="container">

	<div class="row mb-2">

		<div class="col-12 col-sm-12 mb-3">
			<a href="/admin/proyecto/create" class="btn btn-success">Agregar</a>
		</div>

		<div class="col-12">
			<div role="tabpanel">

				<ul class="nav nav-tabs" role="tablist">
					<li class=""><a href="/admin/proyecto/aceptado" id="aceptado" class="nav-link tabState">Aceptados</a></li>
					<!--<%- (state=='aceptado')?'active':''; %>-->
					<li class=""><a href="/admin/proyecto/propuesto" id="propuesto" class="nav-link tabState">Propuestos</a></li>
					<li class=""><a href="/admin/proyecto/finalizado" id="finalizado" class="nav-link tabState">Finalizados</a>
					</li>
					<li class=""><a href="/admin/proyecto/anulado" id="anulado" class="nav-link tabState">Anulados</a></li>

				</ul>


				<table class="table table-hover table-bordered text-center" style="margin-bottom: 0;">
					<thead class="bg-dark text-light">
						<tr class="categoriasTabla">
							<th scope="col">Nombre Proyecto</th>
							<th scope="col">Nombre Empresa</th>
							<th scope="col">Estado Proyecto</th>
							<th scope="col">Requerimiento</th>
							<th scope="col">Acciones</th>
						</tr>
					</thead>
					<tbody class="cuerpoTabla">

						<!-- BUCLE PARA MOSTRAR PROYECTOS CON UN ESTADO ESPECÍFICO -->
						<% for (proyecto of proyectos) { %>
							<tr>
								<td>
									<a href="/admin/proyecto/detalle/<%- proyecto.idProyecto %>">
										<%- proyecto.nombreProyecto %>
									</a>
								</td>
								<td>
									<% if(empresa[proyecto.idEmpresa] !=undefined) { %>
										<a href="/admin/empresa/<%- empresa[proyecto.idEmpresa].rucEmpresa %>/detalle/proyectos">
											<%- empresa[proyecto.idEmpresa].razonSocialEmpresa %>
										</a>
										<% } %>
								</td>
								<td>
									<%- proyecto.estadoProyecto %>
								</td>
								<td>
									<a href="/admin/proyecto/detalle-requerimientos/<%- proyecto.idProyecto %>">Ver
										requerimientos</a>
								</td>
								<td>
									<a href="/admin/proyecto/edit/<%- proyecto.idProyecto %>" style="color: black; padding: inherit;"><i
											class="bi bi-pencil-fill"></i></a>
									|
									<a href="/admin/proyecto/delete/<%- proyecto.idProyecto %>" style="color: black; padding: inherit;"><i
											class="bi bi-trash-fill"></i></a>
								</td>
							</tr>

							<% } %>
					</tbody>
				</table>

				<!-- fin parte fija de la tabla -->

			</div>
		</div>

		<!--
        <div class="col-12 col-sm-10">
            <form action="/proyecto/list" method="get">
                
                <div class="input-group passRandom">
                    <input type="search" name="search" class="form-control ds-input" id="search-input"
                        placeholder="Filtrar por apellido..." value="<%- //search %>">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-dark">Buscar</button>
                    </div>
                </div>
                <br>
            </form>
        </div>
        -->
	</div>

</div>