<!DOCTYPE html>
<html lang="en" class="htmlFullHeight">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%- title %>
  </title>
  <link rel="shortcut icon" type="image/x-icon" href="/images/code.png" />
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href='/stylesheets/estilos.css' />
</head>

<body class="loginBodyFullHeight">
  <div class="container h-100" style="display: table;">
    <div class="centrarDivVerticalmente">
      <img src="/images/code.png" alt="logoLogin" class="logoLogin">

      <form action="/admin/login" class="loginForm" method="POST">
        <div class="row formLogin">
          <div class="text-center">
            <div class="">

            </div>
            <% if ( messages.error ) { %>
              <div class="alert alert-danger">
                <%- messages.error %>
              </div>
              <% } %>
                <div class="labelDiv">
                  <div class="labelGroup">
                    <label for="email" class="labelLogin">E-mail</label>
                  </div>
                  <input type="text" class="inputLogin" placeholder="Ingresa tu email" name="email" id="email"
                    autofocus>
                </div>

                <div class="labelDiv">
                  <div class="labelGroup">
                    <label for="password" class="labelLogin">Contraseña</label>
                  </div>
                  <input type="password" class="inputLogin" placeholder="Ingresa tu contraseña" name="password"
                    id="password">
                </div>
          </div>

        </div>
        <div class="row mt-3">
          <input type="submit" class="form-control botonIngresar" value="INICIAR SESIÓN" />
        </div>
      </form>

      <div style="height: 20%;"></div>
    </div>

  </div>
</body>

</html>