<div class="container-md">
  <div style="padding-top: 5%;">
    <h2>¿Seguro que desea eliminar la venta recurrente <%- obj.tituloVentaRecurrente %>? </h2>
    <br>
    <form action="/admin/ventaRecurrente/delete/<%- obj.idVentaRecurrente %>" method="POST">
      <input type="hidden" value="<%- obj.idVentaRecurrente %>" />

      <a href="/admin/ventaRecurrente/" class="btn btn-danger">Cancelar</a>
      <input type="submit" class="btn btn-primary" value="Borrar" />
    </form>
  </div>
</div>