<script>

  function limpiar(obj1, obj2, obj3, obj4, obj5, obj6, obj7, obj8, obj9, obj10) {
    $(obj1).val(null);
    $(obj2).val("-Seleccionar Proyecto-");
    $(obj3).val("-Seleccionar Empresa-");
    $(obj4).val(null);
    $(obj5).val(null);
    $(obj6).val(null);
    $(obj7).val(null);
    $(obj8).val(null);
    $(obj9).val(null);
    $(obj10).val(null);
  }

  function calcularValoresVentaRecurrente(neto, igv) {
    let totalVenta = document.getElementById('totalVentaRecurrente').value;
    let valorIgv = totalVenta * 0.18;
    let valorNeto = totalVenta - valorIgv;

    $(igv).val(valorIgv.toFixed(2));
    $(neto).val(valorNeto.toFixed(2));

    console.log("Total Venta: ", totalVenta);
    console.log("Neto: ", valorNeto);
    console.log("IGV: ", valorIgv);
  }

  $(document).ready(function () {

    $(".select2").select2();
  });
</script>

<div class="">
  <div class="container-md containerForms">

    <div class="">
      <form action="/admin/ventaRecurrente/save" method="POST" enctype="multipart/form-data" autocomplete="off">
        <br>
        <br>
        <input type="hidden" value="<%- obj.idVentaRecurrente %>" name="idVentaRecurrente" id="idVentaRecurrente" />

        <div class="form-group">
          <div class="row">
            <!-- PRIMERA COLUMNA FORM -->
            <div class="col-12 mb-3">

              <label><span class="nombreLabel">Título de Venta Recurrente (*)</span></label>
              <input type="text" value="<%- obj.tituloVentaRecurrente %>" required name="tituloVentaRecurrente"
                id="tituloVentaRecurrente" class="form-control" autofocus />

            </div>

            <div class="col-6">

              <label><span class="nombreLabel">Proyecto</span></label>
              <select name="idProyecto" id="idProyecto" class="form-control">
                <option value="-1">-Seleccionar Proyecto-</option>

                <% for (proyecto of proyectos) { %>
                  <option value="<%- proyecto.idProyecto %>" <%- ( obj.idProyecto==proyecto.idProyecto )?'selected':'';
                    %>
                    > <%- proyecto.nombreProyecto %>
                  </option>
                  <% } %>
              </select>
            </div>
            <div class="col-6">

              <label><span class="nombreLabel">Empresa (*)</span></label>

              <div style="width: 100%;
          height: calc(1.5em + .75rem + 2px) !important;">

                <select name="idEmpresa" id="idEmpresa" required class="select2 form-control" style="width: 100%;">
                  <option>-Seleccionar Empresa-</option>

                  <% for (empresa of empresas) { %>
                    <% if (obj.idEmpresaVentaRecurrente==empresa.idEmpresa) { var empresaSeleccionada="selected" ; } else { var
                      empresaSeleccionada="" ; }%>
                      <option value="<%- empresa.rucEmpresa%>" <%- empresaSeleccionada %>>
                        <%- empresa.rucEmpresa %> | <%- empresa.razonSocialEmpresa %>
                      </option>
                      <% } %>
                </select>
              </div>
              <br>

              <input type="hidden" value="<%- obj.numeroSerieVentaRecurrente %>" name="numeroSerieVentaRecurrente" id="numero
                ntaRecurrente" readonly="readonly" class="form-control" />

            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <label><span class="nombreLabel">Total Venta Recurrente (*)</span></label>
              <input type="text" value="<%- obj.totalVentaRecurrente %>" required name="totalVentaRecurrente"
                id="totalVentaRecurrente" class="form-control"
                onkeyup="calcularValoresVentaRecurrente('#neto', '#igv');" />
              <br>
            </div>


            <div class="col-4">
              <label><span class="nombreLabel">IGV (18%)</span></label>
              <input type="text" value="<%- obj.igv %>" name="igv" id="igv" class="form-control" />
              <br>
            </div>
            <div class="col-4">
              <label><span class="nombreLabel">Neto</span></label>
              <input type="text" value="<%- obj.neto %>" name="neto" id="neto" class="form-control"
                readonly="readonly" />
              <br>
            </div>
          </div>


          <label><span class="nombreLabel">Descripción</span></label>
          <textarea rows="" name="descripcionVentaRecurrente" id="descripcionVentaRecurrente" class="form-control"
            style="height: 6rem; max-height: 8rem;"><%- obj.descripcionVentaRecurrente %></textarea>
          <br>


        </div>
        <!-- /SEGUNDA COLUMNA FORM -->
    </div>

    <div class="col-12">
      <div class="row">


        <div class="col-6">
          <label><span class="nombreLabel">Fecha de Venta (*)</span></label>
          <input type="date" value="<%- obj.fechaVentaRecurrente %>" required name="fechaVentaRecurrente"
            id="fechaVentaRecurrente" class="form-control" />
          <br>
        </div>


        <div class="col-6 ">
          <label><span class="nombreLabel">Recurrencia (Meses)</span></label>
          <input type="number" value="<%- obj.periodoRecurrencia %>" required id="periodoRecurrencia"
            name="periodoRecurrencia" min="0" max="" class="form-control" />
        </div>

      </div>
    </div>

    <br>
    (*) Campo obligatorio
    <br><br>
    <button type="button"
      onclick="limpiar('#tituloVentaRecurrente', '#idProyecto', '#idEmpresa', '#numeroSerieVentaRecurrente', '#totalVentaRecurrente', '#igv', '#neto','#fechaVentaRecurrente', '#descripcionVentaRecurrente', '#periodoRecurrencia');"
      class="btn btn-secondary">Limpiar</button>
    <br>
    <br>
    <div>
      <a href="/admin/ventaRecurrente/" class="btn btn-danger">Cancelar</a>
      <input type="submit" class="btn btn-primary" value="Guardar" />
    </div>
  </div>
  </form>
</div>


</div>

<br>

</div>