<div class="container">
  <div class="row mb-2">

    <div class="col-12 col-sm-2">
      <a href="/admin/ventaRecurrente/create" class="btn btn-success">Agregar</a>
    </div>

  </div>

  <table class="table table-hover table-bordered text-center" style="margin-bottom: 3rem;">
    <thead class="bg-dark text-light">
      <tr class="categoriasTabla">
        <th scope="col">Título Venta</th>
        <th scope="col">Total Venta</th>
        <th scope="col">Próxima Compra</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody class="cuerpoTabla">
      <% let total = 0; %>
      <% for (venta of ventasRecurrentes){ %>
        <tr>
          <td class="text-left">
            <div><%- venta.tituloVentaRecurrente %></div>
            <div>
                <% if(empresa[venta.idEmpresaVentaRecurrente] !=undefined) { %>
                  <a href="/admin/empresa/<%- empresa[venta.idEmpresaVentaRecurrente].rucEmpresa %>/detalle/proyectos">
                    <%- empresa[venta.idEmpresaVentaRecurrente].razonSocialEmpresa %>
                  </a>
                  <% } %>
            </div>
          </td>
          
          <td class="text-right">
            <%- Math.round(parseFloat( venta.totalVentaRecurrente)).toLocaleString() %>
            <% total += Math.round(parseFloat(venta.totalVentaRecurrente)) %>
          </td>
          <td>
            <%- moment(venta.fechaVentaRecurrente).fromNow() %>
          </td>

          <td>
            <a href="/admin/ventaRecurrente/edit/<%- venta.idVentaRecurrente %>"
              style="color: black; padding: inherit;"><i class="bi bi-pencil-fill"></i></a>
            |
            <a href="/admin/ventaRecurrente/delete/<%- venta.idVentaRecurrente %>"
              style="color: black; padding: inherit;"><i class="bi bi-trash-fill"></i></a>
          </td>
        </tr>
        <% } %>

    </tbody>
    <tfoot>
      <tr>
        <td class="text-left">Total</td>
        <td class="text-right"><%- total.toLocaleString() %></td>
      </tr>
    </tfoot>
  </table>



</div>