<div class="container-md">
  <div style="padding-top: 5%;">
    <h2>¿Seguro que desea eliminar la venta <%- obj.tituloVenta %>? </h2>
    <br>
    <form action="/admin/venta/delete/<%- obj.idVenta %>" method="POST">
      <input type="hidden" value="<%- obj.idVenta %>" />

      <a href="/admin/venta/facturado" class="btn btn-danger">Cancelar</a>
      <input type="submit" class="btn btn-primary" value="Borrar" />
    </form>
  </div>
</div>