<script>

	$(document).ready(function () {
		let selectActive = '<%- estadoVentaActivo %>';
		console.log("SELECT ACTIVO: ", selectActive);

		//$(`select#estadoVenta option.${selectActive}`).attr('selected', 'selected');
    $(`select option[value='${selectActive}']`).attr("selected","selected");
	});

</script>


<a href="javascript:history.back(-1);"
  style="color: purple; text-decoration: none; margin-right: auto; margin-left: 1rem;"><b class="spanVolver">
    Volver</b></a>

<div class="container mt-5">
  <p>
  <h3>Datos de la venta:</h3>
  </p>

  <p><b>Título: </b>
    <%- venta.tituloVenta %>
  </p>
  <p><b>Proyecto: </b>
    <%- proyecto.nombreProyecto %>
  </p>
  <p><b>Empresa: </b>
    <%- empresa.razonSocialEmpresa %>
  </p>
  <p><b>Fecha de Venta: </b>
    <%- venta.fechaVenta %>
  </p>
  <p><b>Total Venta: </b>
    <%- venta.totalVenta %>
  </p>
  <p><b>Moneda: </b>
    Soles
    <%- // venta.fechaVenta %>
  </p>
  <p>
    <div class="row">
      <div class="col-12"><b>Estado Venta: </b></div>
      <div class="col-4">
        <%- venta.estadoVenta %>  => 
      </div>

      <div class="col-4">
        <select name="estadoVenta" id="estadoVenta" required class="form-control" style="width: 12rem;">
  
          <option value="facturado">Facturado</option>
          <option value="pendiente">Pendiente</option>
          <option value="cancelado">Cancelado</option>
          <option value="anulado">Anulado</option>
  
        </select>  
      </div>

      <div class="col-4">
        <input type="button" class="btn btn-success" value="Cambiar Estado" style="margin-left: 1rem;">  
      </div>

    </div>
    
    
  
  </p>
</div>