<script>

  function limpiar(obj1, obj2, obj3, obj4, obj5, obj6, obj7, obj8, obj9, obj10, obj11) {
    $(obj1).val(null);
    $(obj2).val("-Seleccionar Proyecto-");
    $(obj3).val(null);
    $(obj4).val(null);
    $(obj5).val(null);
    $(obj6).val(null);
    $(obj7).val(null);
    $(obj8).val(null);
    $(obj9).val(null);
    $(obj10).val(null);
    $(obj11).val(null);
  }


  function calcularNumeroSerieVenta(inputNumeroSerieVenta) {
    let rucEmpresa = document.getElementById('idEmpresa');
    let ruc = rucEmpresa.value;

    let numeroFactura = $('#numeroFactura').val();

    let valor = ruc + numeroFactura;

    $(inputNumeroSerieVenta).val(valor);
  }


  function calcularValoresVenta(neto, igv) {
    let totalVenta = document.getElementById('totalVenta').value;
    let valorIgv = totalVenta * 0.18;
    let valorNeto = totalVenta - valorIgv;

    $(igv).val(valorIgv.toFixed(2));
    $(neto).val(valorNeto.toFixed(2));

    console.log("Total Venta: ", totalVenta);
    console.log("Neto: ", valorNeto);
    console.log("IGV: ", valorIgv);
  }

  $(document).ready(function () {

    $(".select2").select2();
  });
</script>

<div class="">
  <div class="container-md containerForms">
    <!--
    <h2>
      <%- //tituloForm %>
    </h2>
    <br>
    -->
    <div class="">
      <form action="/admin/venta/save" method="POST" enctype="multipart/form-data" autocomplete="off">
        <br>
        <br>
        <div class="form-group">
          <div class="row">
            <!-- PRIMERA COLUMNA FORM -->
            <div class="col-12 col-sm-6">
              <input type="hidden" value="<%- obj.idVenta %>" name="idVenta" id="idVenta" />


              <label><span class="nombreLabel">Título de Venta (*)</span></label>
              <input type="text" value="<%- obj.tituloVenta %>" required name="tituloVenta" id="tituloVenta"
                class="form-control" autofocus />
              <br>
              <!--data-bv-trigger="blur" data-bv-notempty="true" data-bv-notempty-message="Shop address is required and cannot be empty"-->
              <label><span class="nombreLabel">Proyecto</span></label>
              <select name="idProyecto" id="idProyecto" class="form-control">
                <option value="0">-Seleccionar Proyecto-</option>
                <!--selected="true" disabled="disabled"-->
                <% for (proyecto of proyectos) { %>

                  <% if (obj.idProyecto==proyecto.idProyecto) { var proyectoSeleccionado="selected" ; } else { var
                    proyectoSeleccionado="" ; }%>
                    <option value="<%- proyecto.idProyecto %>" <%- proyectoSeleccionado %>>
                      <%- proyecto.nombreProyecto %>
                    </option>
                    <% } %>
              </select>
              <br>

              <label><span class="nombreLabel">Empresa (*)</span></label>
              <div style="width: 100%;
          height: calc(1.5em + .75rem + 2px) !important;">

                <select name="idEmpresa" id="idEmpresa" required
                  onchange="calcularNumeroSerieVenta('#numeroSerieVenta')" class="select2 form-control" style="width: 100%;">
                  <option>-Seleccionar Empresa-</option>

                  <% for (empresa of empresas) { %>

                    <% if (obj.idEmpresaVenta==empresa.idEmpresa) { var empresaSeleccionada="selected" ; } else { var
                      empresaSeleccionada="" ; }%>
                      <option value="<%- empresa.rucEmpresa %>" <%- empresaSeleccionada %>>
                        <%- empresa.rucEmpresa %> | <%- empresa.razonSocialEmpresa %>
                      </option>
                      <% } %>
                </select>
              </div>
              <br>

              <label><span class="nombreLabel">Número de Factura (*)</span></label>
              <input type="text" value="<%- obj.numeroFactura %>" required name="numeroFactura" id="numeroFactura"
                onkeyup="calcularNumeroSerieVenta('#numeroSerieVenta')" class="form-control" />
              <br>

              <label><span class="nombreLabel">Fecha de Venta (*)</span></label>
              <input type="date" value="<%- obj.fechaVenta %>" required name="fechaVenta" id="fechaVenta"
                class="form-control" />
              <br>

              <div>
                <select name="tag">
                  <% for ( t of Object.keys(tags) ){ %>
                    <% let tag = tags[t]; %>
                    <option value="<%- t %>" > <%- tag %> </option>
                  <% } %>
                </select>
              </div>

              <input type="hidden" value="<%- obj.numeroSerieVenta %>" name="numeroSerieVenta" id="numeroSerieVenta"
                readonly="readonly" class="form-control" />

            </div>
            <!-- /PRIMERA COLUMNA FORM -->


            <!-- SEGUNDA COLUMNA FORM -->
            <div class="col-12 col-sm-6">
              <label><span class="nombreLabel">Total Venta (*)</span></label>
              <input type="text" value="<%- obj.totalVenta %>" required name="totalVenta" id="totalVenta"
                class="form-control" onkeyup="calcularValoresVenta('#neto', '#igv');" />
              <br>

              <div class="row">
                <div class="col-12 col-sm-12 col-xl-6">
                  <label><span class="nombreLabel">IGV (18%)</span></label>
                  <input type="text" value="<%- obj.igv %>" name="igv" id="igv" class="form-control" />
                  <!--.substring(0,7);-->
                  <br>
                </div>
                <div class="col-12 col-sm-12 col-xl-6">
                  <label><span class="nombreLabel">Neto</span></label>
                  <input type="text" value="<%- obj.neto %>" name="neto" id="neto" class="form-control"
                    readonly="readonly" />
                  <br>
                </div>
              </div>

              <div class="form-group-file">
                <label><span class="nombreLabel">Adjunto</span></label>
                <input type="file" value="<%- obj.adjunto %>" name="adjunto" id="adjunto" class="form-control-file"
                  style="height: calc(1.5em + .75rem + 2px);">
              </div>
              <br>

              <label><span class="nombreLabel">Descripción</span></label>
              <textarea rows="" name="descripcionVenta" id="descripcionVenta" class="form-control"
                style="height: 6rem; max-height: 8rem;"><%- obj.descripcionVenta %></textarea>
              <br>
            </div>
            <!-- /SEGUNDA COLUMNA FORM -->
          </div>

          <br>
          (*) Campo obligatorio
          <br><br>
          <button type="button"
            onclick="limpiar('#tituloVenta', '#idProyecto', '#idEmpresa', '#numeroFactura', '#adjunto', '#numeroSerieVenta', '#igv', '#neto', '#totalVenta', '#fechaVenta', '#descripcionVenta');"
            class="btn btn-secondary">Limpiar</button>
          <br>
          <br>
          <div>
            <a href="/admin/venta/facturado" class="btn btn-danger">Cancelar</a>
            <input type="submit" class="btn btn-primary" value="Guardar" />
          </div>
        </div>
      </form>
    </div>


  </div>

  <br>

</div>