<script>

  $(document).ready(function () {
    let tabActive = '<%- tabSeleccionado %>';
    console.log("TAB ACTIVA: ", tabActive);

    $(`a.tabState#${tabActive}`).addClass('active');
  });

</script>

<div class="container">
  <div class="row mb-2">

    <div class="col-12 col-sm-2">
      <a href="/admin/venta/create" class="btn btn-success">Agregar</a>
    </div>


    <div class="col-12 col-sm-10">
      <form action="/admin/venta/<%- tabSeleccionado %>" method="get">

        <div class="input-group passRandom">
          <input type="search" name="search" class="form-control ds-input" id="search-input" placeholder="AAAA-MM"
            value="<%- search %>" />
          <div class="input-group-append">
            <button type="submit" class="btn btn-dark">Buscar</button>
          </div>
        </div>
        <br>
      </form>
    </div>

  </div>


  <div class="mt-3">

    <ul class="nav nav-tabs" role="tablist">
      <li class="">
        <a class="nav-link tabState" id="facturado" href="/admin/venta/facturado">Facturadas <span
            class="badge badge-dark">
            <%- contadorFacturadas %>
          </span></a>
      </li>
      <li class="">
        <a class="nav-link tabState" id="pendiente" href="/admin/venta/pendiente">Pendientes <span
            class="badge badge-dark">
            <%- contadorPendientes %>
          </span></a>
      </li>
      <li class="">
        <a class="nav-link tabState" id="cancelado" href="/admin/venta/cancelado">Canceladas</a>
      </li>
      <li class="">
        <a class="nav-link tabState" id="anulado" href="/admin/venta/anulado">Anuladas</a>
      </li>
    </ul>

  </div>

  <% if (tabSeleccionado == "facturado" || tabSeleccionado == "pendiente"){ %>
  <div class="row mt-2 mb-2">
    <div class="col-12">
      <b>Total Ventas <%- (tabSeleccionado == "facturado") ? "Facturadas" : "Pendientes" %></b>
      <br>  
    </div>
    <div class="col-12 col-sm-4">
      <b>Neto:</b> <%- parseFloat(sumaNeto).toLocaleString() %> 
    </div>

    <div class="col-12 col-sm-4">
      <b>IGV:</b> <%- parseFloat(sumaIgv).toLocaleString() %> 
    </div>

    <div class="col-12 col-sm-4">
      <b>TOTAL:</b> <%- parseFloat(sumaVentas).toLocaleString() %>
    </div>
    
  </div>
  <% } else { %>
    <br>
  <% } %>

  <table class="table table-hover table-bordered text-center" style="margin-bottom: 0;">
    <thead class="bg-dark text-light">
      <tr class="categoriasTabla">
        <th scope="col">Título Venta</th>
        <th scope="col">Nombre Empresa</th>
        <th scope="col">Total Venta</th>
        <th scope="col">Fecha Venta</th>
        <th scope="col">Fecha Declaración</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody class="cuerpoTabla">
      <%- //console.log("EMPRESA: ", empresa); %>
      <% for (venta of ventas){ %>
        <tr>
          <td>
            <a href=" /admin/venta/<%- venta.idVenta %>/detalle">
        <%- venta.tituloVenta %>
          </a>
          </td>
          <td>
            <% if(empresa[venta.idEmpresaVenta] !=undefined) { %>
              <a href=" /admin/empresa/<%- empresa[venta.idEmpresaVenta].rucEmpresa %>/detalle/proyectos">
                <%- empresa[venta.idEmpresaVenta].razonSocialEmpresa %>
              </a>
              <% } %>
          </td>
          <td>
            <%- venta.totalVenta %>
          </td>
          <td>
            <%- venta.fechaVenta %>
          </td>
          <td>
            <%- venta.fechaDeclaracion.toString().substring(0,7); %>
          </td>
          <td>
            <a href="/admin/venta/edit/<%- venta.idVenta %>" style="color: black; padding: inherit;"><i
                class="bi bi-pencil-fill"></i></a>
            |
            <a href="/admin/venta/delete/<%- venta.idVenta %>" style="color: black; padding: inherit;"><i
                class="bi bi-trash-fill"></i></a>
            |
            <a href="/admin/venta/<%- venta.idVenta %>/mail" style="color: black; padding: inherit;"><i
                class="bi bi-envelope-fill"></i></a>
          </td>
          </tr>
          <% } %>

    </tbody>
  </table>

  <div class="col-12 text-center mt-5">

    <%- include("../__pager", { pageURL: `/admin/venta/${tabSeleccionado}` }); %>

  </div>

</div>