<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mail</title>
</head>
<body>
  

  CARGAR DATOS DEL MAIL PARA  <%- correo %>...

  <br />
  Por favor realizar el deposito en las sigueintes cuentas:

  <table>
    <% for ( cuenta of cuentasbancarias ){ %>
      
    <tr>
      <td> <%- cuenta.banco %> </td>
      <td> <%- cuenta.nrocuenta %> </td>
    </tr>
    <% } %>
  </table>


</body>
</html>