<div class="container-md">
  <div style="padding-top: 5%;">
    <h2>¿Seguro que desea eliminar la compra <%- obj.tituloCompra %>? </h2>
    <br>
    <form action="/admin/compra/delete/<%- obj.idCompra %>" method="POST">
      <input type="hidden" value="<%- obj.idCompra %>" />

      <a href="/admin/compra/" class="btn btn-danger">Cancelar</a>
      <input type="submit" class="btn btn-primary" value="Borrar" />
    </form>
  </div>
</div>