<script>

  function limpiar(obj1, obj2, obj3, obj4, obj5, obj6, obj7, obj8, obj9, obj10) {
    
    $(obj1).val(null);
    $(obj2).val("-Seleccionar Proyecto-");
    $(obj3).val("-Seleccionar Empresa-");
    $(obj4).val(null);
    $(obj5).val(null);
    $(obj6).val(null);
    $(obj7).val(null);
    $(obj8).val(null);
    $(obj9).val(null);
    $(obj10).val(null);
  }


  function calcularNumeroSerieCompra(inputNumeroSerieCompra) {
    let rucEmpresa = document.getElementById('idEmpresa');
    let ruc = rucEmpresa.value;
    //let rucEmpresa = document.getElementById('idEmpresa');
    let numeroFactura = $('#numeroFactura').val();


    let valor = ruc + numeroFactura;

    $(inputNumeroSerieCompra).val(valor);
  }


  function calcularValoresCompra(neto, igv) {
    let totalCompra = document.getElementById('totalCompra').value;
    let valorIgv = totalCompra * 0.18;
    let valorNeto = totalCompra - valorIgv;

    $(igv).val(valorIgv.toFixed(2));
    $(neto).val(valorNeto.toFixed(2));


    /* console.log("Total Compra: ", totalCompra);
    console.log("Neto: ", valorNeto);
    console.log("IGV: ", valorIgv); */

    return valorIgv;
  }

  function calcularCambioIgv(neto, igv) {

    let igvFijo = calcularValoresCompra();
    let totalCompra = document.getElementById('totalCompra').value;

    let valorIgv = document.getElementById('igv').value;
    let valorNeto = totalCompra - valorIgv;

    /* 
    if (valorIgv > igvFijo) { // Si igvInput es mayor que el IGV calculado...
      valorNeto = totalCompra - igvFijo;
      $(igv).val(igvFijo.toFixed(2));
      $(neto).val(valorNeto.toFixed(2));

      return;
    } else if (valorIgv < 0) { // Si igvInput es menor que cero...
      let cero = 0;
      $(igv).val(cero.toFixed(2));
      $(neto).val(totalCompra.toFixed(2));

      return;
    }
 */
    $(neto).val(valorNeto.toFixed(2));
  }

  function calcularCambioNeto(neto, igv) {

    let igvFijo = calcularValoresCompra();
    let totalCompra = document.getElementById('totalCompra').value;
    let netoFijo = totalCompra - igvFijo;

    let valorNeto = document.getElementById('neto').value;
    let valorIgv = totalCompra - valorNeto;
    /* 
        let longitud = valorNeto.toString().length;
        console.log("LONGITUD VALOR NETO: ", longitud);
        if (valorNeto > parseInt(totalCompra)) { // Si netoInput es mayor que totalCompra...
          let cero = 0;
          $(igv).val(cero.toFixed(2));
          
          valorNeto = totalCompra;
          $(neto).val(valorNeto);
    
          console.log("VALOR NETO: ", valorNeto);
    
          return;
        } else if (valorNeto.toString().length == 3 && valorNeto < netoFijo) {
          
          $(igv).val(igvFijo.toFixed(2));
          $(neto).val(netoFijo.toFixed(2));
          
          return;
        }
     */
    $(igv).val(valorIgv.toFixed(2));
  }

  $(document).ready(function () {

    $(".select2").select2();
  });

</script>

<div class="container-md containerForms">

  <form action="/admin/compra/save" method="POST" enctype="multipart/form-data" autocomplete="off">
    <br>
    <br>
    <div class="form-group">
      <div class="row">
        <!-- PRIMERA COLUMNA FORM -->
        <div class="col-12 col-sm-6">
          <input type="hidden" value="<%- obj.idCompra %>" name="idCompra" id="idCompra" />


          <label><span class="nombreLabel">Título de Compra (*)</span></label>
          <input type="text" value="<%- obj.tituloCompra %>" required name="tituloCompra" id="tituloCompra"
            class="form-control" autofocus />
          <br>
          <!--data-bv-trigger="blur" data-bv-notempty="true" data-bv-notempty-message="Shop address is required and cannot be empty"-->
          <label><span class="nombreLabel">Proyecto</span></label>
          <select name="idProyecto" id="idProyecto" class="form-control">
            <option value="0">-Seleccionar Proyecto-</option>
            <!--selected="true" disabled="disabled"-->
            <% for (proyecto of proyectos) { %>

              <% if (obj.idProyecto==proyecto.idProyecto) { var proyectoSeleccionado="selected" ; } else { var
                proyectoSeleccionado="" ; }%>
                <option value="<%- proyecto.idProyecto %>" <%- proyectoSeleccionado %>>
                  <%- proyecto.nombreProyecto %>
                </option>
                <% } %>
          </select>
          <br>

          <label><span class="nombreLabel">Empresa (*)</span></label>
          <div style="width: 100%;
          height: calc(1.5em + .75rem + 2px) !important;">

            <select name="idEmpresa" id="idEmpresa" required onchange="calcularNumeroSerieCompra('#numeroSerieCompra')" class="select2 form-control" style="width: 100%;">
              <option>-Seleccionar Empresa-</option>

              <% for (empresa of empresas) { %>
                <!--
                  <input type="hidden" value="<%- //empresa.idEmpresa %>" name="inputIdEmpresa" id="inputIdEmpresa" />
                -->
                <% if (obj.idEmpresaCompra==empresa.idEmpresa) { var empresaSeleccionada="selected" ; } else { var
                  empresaSeleccionada="" ; }%>
                  <option value="<%- empresa.rucEmpresa%>" <%- empresaSeleccionada %>>
                    <%- empresa.rucEmpresa %> | <%- empresa.razonSocialEmpresa %>
                  </option>
                  <% } %>
            </select>
          </div>
          <br>

          <label><span class="nombreLabel">Número de Factura (*)</span></label>
          <input type="text" value="<%- obj.numeroFactura %>" required name="numeroFactura" id="numeroFactura"
            onkeyup="calcularNumeroSerieCompra('#numeroSerieCompra')" class="form-control" />
          <br>

          <label><span class="nombreLabel">Fecha de Compra (*)</span></label>
          <input type="date" value="<%- obj.fechaCompra %>" required name="fechaCompra" id="fechaCompra"
            class="form-control" />
          <br>

          <br>

          <!--
              <label><span class="nombreLabel">Número de Serie Compra</span></label>
              -->
          <input type="hidden" value="<%- obj.numeroSerieCompra %>" name="numeroSerieCompra" id="numeroSerieCompra"
            readonly="readonly" class="form-control" />

        </div>
        <!-- /PRIMERA COLUMNA FORM -->


        <!-- SEGUNDA COLUMNA FORM -->
        <div class="col-12 col-sm-6">
          <label><span class="nombreLabel">Total Compra (*)</span></label>
          <div class="input-group">
            <input type="text" value="<%- obj.totalCompra %>" required name="totalCompra" id="totalCompra"
              class="form-control" onkeyup="calcularValoresCompra('#neto', '#igv');" />
            <div class="input-group-append">
              <input type="button" class="btn btn-dark" onclick="calcularValoresCompra('#neto', '#igv');"
                value="Recalcular Valores" />
            </div>
          </div>
          <br>


          <div class="row">
            <div class="col-12 col-sm-12 col-xl-6">
              <label><span class="nombreLabel">IGV (*)</span></label>
              <input type="text" value="<%- obj.igv %>" required name="igv" id="igv" class="form-control"
                onkeyup="calcularCambioIgv('#neto', '#igv');" />
              <br>
            </div>
            <div class="col-12 col-sm-12 col-xl-6">
              <label><span class="nombreLabel">Neto</span></label>
              <input type="text" value="<%- obj.neto %>" required name="neto" id="neto" class="form-control"
                onkeyup="calcularCambioNeto('#neto', '#igv');" />
              <br>
            </div>
          </div>


          <div class="form-group-file">
            <label><span class="nombreLabel">Adjunto</span></label>
            <input type="file" value="<%- obj.adjunto %>" name="adjunto" id="adjunto" class="form-control-file"
              style="height: calc(1.5em + .75rem + 2px);">
          </div>
          <br>


          <label><span class="nombreLabel">Descripción</span></label>
          <textarea rows="" name="descripcionCompra" id="descripcionCompra" class="form-control"
            style="height: 6rem; min-height: 3rem; max-height: 8rem;"><%- obj.descripcionCompra %></textarea>
          <br>
        </div>
        <!-- /SEGUNDA COLUMNA FORM -->
      </div>

      <br>
      (*) Campo obligatorio
      <br><br>
      <button type="button"
        onclick="limpiar('#tituloCompra', '#idProyecto', '#idEmpresa', '#numeroFactura', '#fechaCompra', '#totalCompra', '#igv', '#neto', '#adjunto', '#descripcionCompra');"
        class="btn btn-secondary">Limpiar</button>
      <br>
      <br>
      <div>
        <a href="/admin/compra/" class="btn btn-danger">Cancelar</a>
        <input type="submit" class="btn btn-primary" value="Guardar" />
      </div>
    </div>
  </form>

</div>