<div class="container">
  <div class="row mb-2">

    <div class="col-12 col-sm-2">
      <a href="/admin/compra/create" class="btn btn-success">Agregar</a>
    </div>

    <div class="col-12 col-sm-10">
      <form action="/admin/compra/" method="get">

        <div class="input-group passRandom">
          <input type="search" name="search" class="form-control ds-input" id="search-input" placeholder="AAAA-MM"
            value="<%- search %>" />
          <div class="input-group-append">
            <button type="submit" class="btn btn-dark">Buscar</button>
          </div>
        </div>
        <br>
      </form>
    </div>

  </div>

  <table class="table table-hover table-bordered text-center" style="margin-bottom: 0;">
    <thead class="bg-dark text-light">
      <tr class="categoriasTabla">
        <th scope="col">Título Compra</th>
        <th scope="col">Nombre Empresa</th>
        <th scope="col">Total Compra</th>
        <th scope="col">Fecha Compra</th>
        <th scope="col">Fecha Declaración</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody class="cuerpoTabla">
      <% for (compra of compras) { %>
        <tr>
          <td>
            <%- compra.tituloCompra %>
          </td>
          <td>
            <% if(empresa[compra.idEmpresaCompra] !=undefined) { %>
              <a href="/admin/empresa/<%- empresa[compra.idEmpresaCompra].rucEmpresa %>/detalle/proyectos">
                <%- empresa[compra.idEmpresaCompra].razonSocialEmpresa %>
              </a>
              <% } %>
          </td>
          <td>
            <%- compra.totalCompra %>
          </td>
          <td>
            <%- compra.fechaCompra %>
          </td>
          <td>
            <%- compra.fechaDeclaracion.toString().substring(0,7); %>
          </td>
          <td>
            <a href="/admin/compra/edit/<%- compra.idCompra %>" style="color: black; padding: inherit;"><i
                class="bi bi-pencil-fill"></i></a>
            |
            <a href="/admin/compra/delete/<%- compra.idCompra %>" style="color: black; padding: inherit;"><i
                class="bi bi-trash-fill"></i></a>
          </td>
        </tr>
        <% } %>

    </tbody>
  </table>

  <div class="col-12 text-center mt-5">

    <%- include("../__pager", { pageURL: '/admin/compra/' }); %>

  </div>

</div>