<script>

  function declararFecha() {
    let arrEstados = document.getElementsByName("estadoDeclaracion");
    let mesDeclaracion = document.getElementById("mesDeclaracion").value;
    let checked;

    console.log("MES DECLARACIÓN: ", mesDeclaracion);
    idComprasPendientes = [];
    /* console.log("ARR ESTADOS: ", arrEstados); */
    for (let i = 0; i < arrEstados.length; i++) {
      checked = arrEstados[i].checked;
      if (checked == true) {
        /* 
        console.log("arrEstados[",i,"]", arrEstados[i]);
        console.log("arrEstados[",i,"].valor: ", arrEstados[i].value);
        */
        idComprasPendientes.push(arrEstados[i].value);
      }
      console.log("RESULTADO: ", checked);
    }

    $.post(`/admin/compra/pendientes/save/${mesDeclaracion}`, { idComprasPendientes: JSON.stringify(idComprasPendientes) }, function () {
      console.log("DATOS ENVIADOS A RUTA POST DECLARAR PENDIENTES");

      document.location = '/admin/compra/pendientes';
    });
  }

</script>


<div class="container">

  <div class="mt-5">
    <!--scrollTablas-->
    <table class="table table-hover table-bordered text-center" style="margin-bottom: 0;">
      <thead class="bg-dark text-light">
        <tr class="categoriasTabla">
          <th scope="col">Título Compra</th>
          <th scope="col">Nombre Empresa</th>
          <th scope="col">Total Compra</th>
          <th scope="col">Fecha Compra</th>
          <th scope="col">¿Declarar?</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody class="cuerpoTabla">
        <% for (compra of compras) { %>
          <tr>
            <td>
              <%- compra.tituloCompra %>
            </td>
            <td>
              <a href="/admin/empresa/<%- empresa[compra.idEmpresaCompra].rucEmpresa %>/detalle/proyectos">
                <%- empresa[compra.idEmpresaCompra].razonSocialEmpresa %>
              </a>
            </td>
            <td>
              <%- compra.totalCompra %>
            </td>
            <td>
              <%- compra.fechaCompra %>
            </td>
            <td>
              <input type="checkbox" name="estadoDeclaracion" value="<%- compra.idCompra %>">
            </td>
            <td>
              <a href="/admin/compra/edit/<%- compra.idCompra %>" style="color: black; padding: inherit;"><i
                  class="bi bi-pencil-fill"></i></a>
              |
              <a href="/admin/compra/delete/<%- compra.idCompra %>" style="color: black; padding: inherit;"><i
                  class="bi bi-trash-fill"></i></a>
            </td>
          </tr>
          <% } %>
      </tbody>
    </table>

    <div class="col-5 mt-5">
      <label><span class="nombreLabel">MES PARA DECLARAR</span></label>
      <input type="month" required name="mesDeclaracion" value="<%- mesDeclaracion %>" id="mesDeclaracion"
        class="form-control" />

      <br>
      <input type="button" class="btn btn-success" onclick="declararFecha();" value="Declarar" />
    </div>

    <!-- 
        <div class="col-12 text-center mt-5">

          <%- //include("../__pager", { pageURL: '/admin/compra/pendientes/' }); %>

        </div>
    -->




  </div>




</div>